[Unit]
Description=GoaCoin's distributed currency daemon
After=network.target

[Service]
User=goacoincore
Group=goacoincore

Type=forking
PIDFile=/var/lib/goacoind/goacoind.pid
ExecStart=/usr/bin/goacoind -daemon -pid=/var/lib/goacoind/goacoind.pid \
-conf=/etc/goacoincore/goacoin.conf -datadir=/var/lib/goacoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
